<div>
    <div class="row">
        <h2>Add Bank Statement</h2>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div>
                <span>Bank Name:</span>
            </div>
            <div>
                <input id="hdnStatementId" type="hidden" />
                <input type="text" id="bankAccountTypeId" />
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <span>Transaction Date:</span>
            </div>
            <div>
                <input type="date" id="transactionDate" />
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <span>Payment Date:</span>
            </div>
            <div>
                <input type="date" id="paymentDate" />
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <span>Posting Date:</span>
            </div>
            <div>
                <input type="date" id="postingDate" />
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <span>Description:</span>
            </div>
            <div>
                <input type="text" id="transactionDescription" />
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <span>Transaction Number:</span>
            </div>
            <div>
                <input type="text" id="transactionNumber" />
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <span>Amount:</span>
            </div>
            <div>
                <input type="text" id="transactionAmount" />
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <span>Total Balance Amount:</span>
            </div>
            <div>
                <input type="text" id="totalBalanceAmount" />
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <input type="button" id="btnStatement" value="Add Statement" />
            </div>
        </div>
    </div>
</div>
