<div>
    <div class="row">
        <h2>Item Categories</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <span>Item Category:</span>
            </div>
            <div>
                <input type="text" id="txtItemCategoryName" />
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <input type="button" value="Add Categories" />
            </div>
        </div>
    </div>
</div>
