@using HFM.Web.Models;

@model TransactionDetails

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table>
    <tr>
        <th>
            TransactionId
        </th>
        <th>
            TransactionDetailsName
        </th>
    </tr>
    @foreach (var data in Model.FinanceTransactionDetails)
    {
        <tr>
            <td class="transactionReadOnlyDetails">
                <table>
                    <tr>
                        <td>
                            @data.TransactionDetailsId
                        </td>
                        <td>
                            @data.TransactionDetailsName
                        </td>
                    </tr>
                </table>
            </td>
            <td class="transactionEditDetails hide" display="none">
                <table>
                    <tr>
                        <td class="tdTransactionDetailId">
                            @data.TransactionDetailsId
                        </td>
                        <td>
                            <input type="text" class="txtTransactionDetailName" />
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            <input type="button" class="EditTransaction" value="Edit" />
                        </td>
                        <td>
                            <input type="button" class="UpdateTransaction hide" value="Update" />
                        </td>
                        <td>
                            <input type="button" class="DeleteTransaction hide" value="Delete" />
                        </td>
                        <td>
                            <input type="button" class="CancelTransaction hide" value="Cancel" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    }
</table>

