<div>
    <div class="row">
        <h2>Items</h2>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div>
                <span>Item Name:</span>
            </div>
            <div>
                <input type="text" id="txtItemName" />
            </div>
        </div>
        <div id="categoryGroup" class="hide">
            <div class="col-md-2">
                <div>
                    <span>Item Sub Category:</span>
                </div>
                <div>
                    <span id="selectItemSubCategory"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <span>Item Category:</span>
                </div>
                <div>
                    <span id="selectItemCategory"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <span>Store:</span>
                </div>
                <div>
                    <span id="selectStores"></span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <span>Price:</span>
            </div>
            <div>
                <input type="text" />
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <span>Quantity:</span>
            </div>
            <div>
                <input type="text" />
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <span>Purchase Date:</span>
            </div>
            <div>
                <input type="date" id="purchaseDate" />
            </div>
        </div>
        <div class="col-md-2">
            <div>
                <input type="button" value="Add Item" />
            </div>
        </div>
    </div>
</div>
