@using HFM.Web.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div>
        @{
            Html.RenderPartial("AddItems");
        }
    </div>
    <div id="dailyTransactions">
        @{
            Html.RenderPartial("Items");
        }
    </div>
</div>